SERVER_PORT=8443
TLS_CERT_FILE=/etc/letsencrypt/live/your.domain.com/fullchain.pem
TLS_KEY_FILE=/etc/letsencrypt/live/your.domain.com/privkey.pem
LOG_FILE=webhook.log
VOODOO_API_ENDPOINT=https://www.voodoodevices.com/api
VOODOO_API_KEY=<your-voodoo-api-key>
TASKS_FILE=tasks.json
TIGHT_SECURITY=true
EXTENSIV_PUBLIC_KEY_CACHE_FILE=extensiv_public_key_cache.json